main {
    align-items: center;
    flex-direction: column;
}

.character {
    width: 50%;
    height: 130px;
    border: 2px solid #30da56;
    margin-top: 20px;
}

.character>div {
    width: inherit;
    justify-content: center;
    align-items: center;
}

.character img {
    max-height: 100%;
    width: 100px;
}

main > div:nth-child(odd) {
    flex-direction: row-reverse;
}

.character-name {
    font-weight: bold;
}

.character-description {
    font-style: italic;
}